<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Table</title>
</head>
<body>
    <h1> Services </h1>
    <table id="orderTable">
        <tr>
            <th> Item </th>
            <th> Wash </th>
            <th> Iron </th>
            <th> Quantity </th>
        </tr>
        <tr>
            <td> shirt <input type="checkbox" class="item"></td>
            <td> 200 <input type="checkbox" class="optional" data-action="wash" data-price="200"></td>
            <td> 200 <input type="checkbox" class="optional" data-action="iron" data-price="200"></td>
            <td>
                <button class="btn decrement">-</button>
                <span class="value">0</span>
                <button class="btn increment">+</button>
            </td>
        </tr>
        <tr>
            <td> plain trouser <input type="checkbox" class="item"></td>
            <td> 150 <input type="checkbox" class="optional" data-action="wash" data-price="150"></td>
            <td> 150 <input type="checkbox" class="optional" data-action="iron" data-price="150"></td>
            <td>
                <button class="btn decrement">-</button>
                <span class="value">0</span>
                <button class="btn increment">+</button>
            </td>
        </tr>
        <tr>
            <td> polo <input type="checkbox" class="item"></td>
            <td> 150 <input type="checkbox" class="optional" data-action="wash" data-price="150"></td>
            <td> 150 <input type="checkbox" class="optional" data-action="iron" data-price="150"></td>
            <td>
                <button class="btn decrement">-</button>
                <span class="value">0</span>
                <button class="btn increment">+</button>
            </td>
        </tr>
        <tr>
            <td> jean trouser <input type="checkbox" class="item"></td>
            <td> 200 <input type="checkbox" class="optional" data-action="wash" data-price="200"></td>
            <td> 200 <input type="checkbox" class="optional" data-action="iron" data-price="200"></td>
            <td>
                <button class="btn decrement">-</button>
                <span class="value">0</span>
                <button class="btn increment">+</button>
            </td>
        </tr>
        <tr>
            <td> suit <input type="checkbox" class="item"></td>
            <td> 400 <input type="checkbox" class="optional" data-action="wash" data-price="400"></td>
            <td> 400 <input type="checkbox" class="optional" data-action="iron" data-price="400"></td>
            <td>
                <button class="btn decrement">-</button>
                <span class="value">0</span>
                <button class="btn increment">+</button>
            </td>
        </tr>
        <tr>
            <td> short <input type="checkbox" class="item"></td>
            <td> 150 <input type="checkbox" class="optional" data-action="wash" data-price="150"></td>
            <td> 150 <input type="checkbox" class="optional" data-action="iron" data-price="150"></td>
            <td>
                <button class="btn decrement">-</button>
                <span class="value">0</span>
                <button class="btn increment">+</button>
            </td>
        </tr>
        <tr>
            <td> pygamas <input type="checkbox" class="item"></td>
            <td> 300 <input type="checkbox" class="optional" data-action="wash" data-price="300"></td>
            <td> 300 <input type="checkbox" class="optional" data-action="iron" data-price="300"></td>
            <td>
                <button class="btn decrement">-</button>
                <span class="value">0</span>
                <button class="btn increment">+</button>
            </td>
        </tr>
        <tr>
            <td> hoodies <input type="checkbox" class="item"></td>
            <td> 300 <input type="checkbox" class="optional" data-action="wash" data-price="300"></td>
            <td> 800 <input type="checkbox" class="optional" data-action="iron" data-price="800"></td>
            <td>
                <button class="btn decrement">-</button>
                <span class="value">0</span>
                <button class="btn increment">+</button>
            </td>
        </tr>
        <tr>
            <td> singlet <input type="checkbox" class="item"></td>
            <td> 200 <input type="checkbox" class="optional" data-action="wash" data-price="200"></td>
            <td> 100 <input type="checkbox" class="optional" data-action="iron" data-price="500"></td>
            <td>
                <button class="btn decrement">-</button>
                <span class="value">0</span>
                <button class="btn increment">+</button>
            </td>
        </tr>
        <tr>
            <td> towel <input type="checkbox" class="item"></td>
            <td> 1000 <input type="checkbox" class="optional" data-action="wash" data-price="1000"></td>
            <td> 900 <input type="checkbox" class="optional" data-action="iron" data-price="800"></td>
            <td>
                <button class="btn decrement">-</button>
                <span class="value">0</span>
                <button class="btn increment">+</button>
            </td>
        </tr>
        <tr>
            <td> bed cover <input type="checkbox" class="item"></td>
            <td> 1000 <input type="checkbox" class="optional" data-action="wash" data-price="1000"></td>
            <td> 300 <input type="checkbox" class="optional" data-action="iron" data-price="300"></td>
            <td>
                <button class="btn decrement">-</button>
                <span class="value">0</span>
                <button class="btn increment">+</button>
            </td>
        </tr>
        <tr>
            <td> duvert <input type="checkbox" class="item"></td>
            <td> 2500 <input type="checkbox" class="optional" data-action="wash" data-price="2500"></td>
            <td> 500 <input type="checkbox" class="optional" data-action="iron" data-price="500"></td>
            <td>
                <button class="btn decrement">-</button>
                <span class="value">0</span>
                <button class="btn increment">+</button>
            </td>
        </tr>
        <tr>
            <td> curtains <input type="checkbox" class="item"></td>
            <td> 2500 <input type="checkbox" class="optional" data-action="wash" data-price="2500"></td>
            <td> 1000 <input type="checkbox" class="optional" data-action="iron" data-price="1000"></td>
            <td>
                <button class="btn decrement">-</button>
                <span class="value">0</span>
                <button class="btn increment">+</button>
            </td>
        </tr>

    </table>
    <br>
    <button id="submit">Submit</button>

    <script src="../public/js/test.js" defer></script>
</body>
</html>
